feeder: dataset.dataloader.BaseFeeder

feeder_args:
  prefix: ''
  folder_path: /workspace/dataset/CSAWS/CSAW-S/CsawS/
  mean: 0.0
  std: 1.0
  mode: train

phase: train
dataset: phoenix14
# dataset: phoenix14-si5
num_epoch: 80
work_dir: ./work_dir/baseline_res18/
batch_size: 2
random_seed: 0
test_batch_size: 8
num_worker: 10
device: 1
log_interval: 50
eval_interval: 1
save_interval: 5
# python in default
evaluate_tool: sclite
loss_weights:
  ConvCTC: 1.0
  SeqCTC: 1.0
  Dist: 10.0
# load_weights: ./slt_baseresline/baseline_p14_framewise_biCTC/dev_21.90_epoch55_model.pt

optimizer_args:
  optimizer: Adam
  base_lr: 0.0001
  step: [40, 60]
  learning_ratio: 1
  weight_decay: 0.0001
  start_epoch: 1
  nesterov: False

model: models.unet.unet.UNet
decode_mode: beam
model_args:
  in_channels: 1
  out_channels: 1
